div.row div {
    aspect-ratio: 1;
    padding: 0rem;
}

.maze-grid {
    max-width: 25rem;
}

.maze-btn {
    display: block;
}

.legend-ele{
    aspect-ratio: 1;
    width: 2rem;
}

@media (min-width: 768px){
    .d-flex-md {
        display: flex !important;
    }
}